.blogcard .blog-title {
  font-size: 17px;
}

.blogcontainer {
  max-width: 800px;
  margin: auto;
}

.blogcontainer img {
  width: 100%;
}

.loadingpage {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.274);
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 40px;
}